

.name {
    font-size: 60px;
}
.basic-info {
    font-size: 15px;
    color: gray;
}
.subheader {
    color: rgb(26, 152, 230);
}
.dates-of-attendance {
    font-size: 10px;
    color: gray;
}
#main-text-left {
    float: left;
    width: 50%;
}
.subtext {
    font-size: 14px;
}



